{% extends "base.html" %}
{% block sidebar %}
<input class="form-control input-sm" id="table-search" placeholder="table name..." type="text" />
	<ul class="nav nav-pills nav-stacked" role="tablist">
	{% for table_name in tables|sort %}
		{% if table_name not in virtual_tables_corollary %}
			<li class="table-link{% if table and table_name == table %} active{% endif %}">
				<a href="{{ url_for('table_structure', table=table_name) }}">
				{{ table_name }}
				{% if table_name in virtual_tables %}
					<sup>(v)</sup>
				{% endif %}
				</a>
			</li>
		{% endif %}
	{% endfor %}
	</ul>

<hr />

{% if table not in virtual_tables_corollary %}
	<ul class="nav nav-pills nav-stacked" id="helper-tables" role="tablist" style="display:none;">
{% endif %}

{% for table_name in virtual_tables_corollary|sort %}
	{% if table and table_name == table %}
		<li class="active">
		<a href="{{ url_for('table_structure', table=table_name) }}">
			<small>{{ table_name }}</small>
		</a>
		</li>
	{% endif %}
{% endfor %}
 </ul>
{% endblock %}